header {
    
    color:rgb(246, 213, 252);
    /* background: linear-gradient(180deg, rgb(68, 17, 68) 11%,
    rgb(68, 17, 68) 10%); */
    background-color:rgb(39, 3, 20) ;
}
marquee{
    text-align: center;
}