/* .active {
    background-color: rgb(209, 209, 223);
} */

.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(330, 36%, 53%, 1);
  background: linear-gradient(
    90deg,
    hsla(330, 36%, 53%, 1) 0%,
    hsla(289, 68%, 19%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(330, 36%, 53%, 1) 0%,
    hsla(289, 68%, 19%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(330, 36%, 53%, 1) 0%,
    hsla(289, 68%, 19%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B15B86", endColorstr="#440F50", GradientType=1 );

  color: #fff;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  /* border-radius: 12px 5px 14px 1px; */
  border-radius: 50%;
  background-color: rgb(14, 14, 26);
  transition: 0.5s;
  box-shadow: 0px 0px 5px 3px rgb(248, 213, 16);
}

.logo p {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 900;
  color: rgb(234, 234, 234);
  border-radius: 50%;
  transition: 0.4s;
}

.logo:hover {
  box-shadow: 0px 0px 11px 7px #f8ceefaa;
}

ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

ul li a {
  border-radius: 7px;
  /* color:rgb(244, 188, 255); */
  color: #fff;
}

ul .submenu {
  position: absolute;
  display: inline-block;
  margin: 30px 0px 0px -50px;
  box-shadow: 0 0px 15px 1px #242424;
  border-radius: 3px;
  opacity: 0;
  z-index: -999;
  transition: ease-in-out 0.5s;
  background: #000;
}

ul .submenu li {
  margin-left: -30px;
  padding: 15px;
}

.ul .submenu li a{
    color: #fff;
}

ul li:hover .submenu {
  z-index: 999;
  opacity: 1;
}

ul li:hover a {
    color:rgb(244, 188, 255);
}
 

.submenu li a:hover {
  color: #e09303;
}

.Search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  gap: 13px;
  height: 14px;
  background-color: #242424;
  padding: 10px 20px;
  border-radius: 50px;
}

.Search input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  max-width: 200px;
}

.Search input::placeholder {
  color: #fff;
}
